<!--============ Modal ==================  -->
<div
  class="modal fade"
  id="changePasswordModel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/user/changePassword" method="post" id="password"></form>
      <div class="modal-body">
        <label class="label label-default">New password</label>
        <input
          name="newPassword"
          type="password"
          class="form-control"
          form="password"
        />
        <br />
        <label class="label label-default">Confirm password</label>
        <input
          name="confirmPassord"
          type="password"
          class="form-control"
          form="password"
        />
        <br />
        <label class="label label-default">Old password</label>
        <input
          name="oldPassword"
          type="password"
          class="form-control"
          form="password"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary" form="password">
          Change
        </button>
      </div>
    </div>
  </div>
  <!-- ===================================== -->
</div>
