<html lang="en">
  <%- include("components/header.ejs") %>
  <% include("../public/css/admin.css") %> 
  <body>
    <section id="content">
      <%- include("components/navbat.ejs") %>
      <b></b>

      <main>
        <div class="head-title">
          <div class="left">
            <h1>Admin Page</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Dashboard</a>
              </li>
              <li><i class='bx bx-chevron-right' ></i></li>
              <li>
                <a class="active" href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>
  
        <ul class="box-info">
          <li>
            <i class='bx bxs-calendar-check' ></i>
            <span class="text">
              <h3>1020</h3>
              <p>Posts</p>
            </span>
          </li>
          <li>
            <i class='bx bxs-group' ></i>
            <span class="text">
              <h3>2834</h3>
              <p>Number of Users</p>
            </span>
          </li>
          <li>
            <i class='bx bxs-dollar-circle' ></i>
            <span class="text">
              <h3>$2543</h3>
              <p>The Most Liked Post</p>
            </span>
          </li>
        </ul>
  
  
        <div class="table-data">
          <div class="order">
            <table>
              <thead>
                <tr>
                  <th>User</th>
                  <th>User Plan</th>
                  <th>Message</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="images/user-1.png">
                    <p>John Doe</p>
                  </td>
                  <td><button class="status detailed">Basic</button></td>
                  <td><a href=""><button class="status completed">Send Message</button></a></td>
                  <td><a href=""><button class="status deleted">Delete User</button></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>

      <%- include('components/sendMessage.ejs') %>
    </section>
    <%- include("components/scripts.ejs") %>
  </body>
</html>
