<html lang="en">
  <%- include("components/header.ejs") %>
  <body>

    <section id="content">
      <%- include("components/navbat.ejs") %>
      <b></b>
  
        
      <h1>this is admin page</h1>

        <%- include('components/sendMessage.ejs') %>
    </section>
    <%- include("components/scripts.ejs") %>
  </body>
</html>
