<html lang="en">
  <%- include("components/header.ejs") %>
  <body>
    <style>
      .container,
      .container-lg,
      .container-md,
      .container-sm,
      .container-xl,
      .container-xxl {
        max-width: 50%;
      }
    </style>
    <section id="content">
      <%- include("components/navbat.ejs") %>
      <b></b>
      <div class="container">
        <!-- Modal -->
        <%- include('components/sendMessage.ejs') %>
        <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th>First</th>
              <th>First</th>
              <th>First</th>
              <th>First</th>
              <th>First</th>
              <th>First</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Larry</td>
              <td>Larry</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>
                <button
                  class="btn btn-danger"
                  style="height: 100%; padding: 5px; width: 100%"
                >
                  test
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <%- include("components/scripts.ejs") %>
  </body>
</html>
