<html lang="en">
  <%- include("components/header.ejs") %>
  <body>
    <section id="content">
      <%- include("components/navbat.ejs") %>

      <!-- =========== alert message  ===========-->
      <%- include('components/flash.ejs') %>
      <!-- ================================================= -->

      <style>
        .form-container {
          top: 70px;
          /* left: -30px; */
          width: 320px;
          height: 400px;
        }
        .form-container #regform {
          top: 70px;
        }
        .form-container #loginform {
          top: 100px;
        }
        .form-container select {
          width: 100%;
          margin-top: 10px;
          border: 1px solid #ccc;
        }
        .alert {
          margin-bottom: -50px;
          width: 320px;
          margin-left: calc((100% - 320px) / 2);
          text-align: center;
          position: relative;
        }
        .alert button {
          border: none;
          position: absolute;
          right: 30px;
          background-color: inherit;
        }
      </style>

      <div class="form-container">
        <div class="form-btn">
          <span onclick="login()">login</span>
          <span onclick="reg()">register</span>
          <hr id="indicator" />
        </div>

        <form id="loginform" action="/login/login" method="post">
          <input required type="text" name="userName" placeholder="username" />
          <br />
          <input
            required
            type="password"
            name="password"
            placeholder="password"
          /><br />
          <button type="submit" class="btn btn-primary">login</button><br />
          <a href="#">forgot password</a>
        </form>

        <form id="regform" action="/login/signup" method="post">
          <input
            required
            type="text"
            name="fullName"
            placeholder="Full name"
          /><br />
          <input
            required
            type="text"
            name="userName"
            placeholder="username"
          /><br />
          <input
            required
            type="password"
            name="password"
            placeholder="password"
          /><br />
          <select name="plan">
            <option value="basic">Basic</option>
            <option value="premium">Premium</option>
          </select>
          <button type="submit" class="btn btn-primary">register</button>
        </form>
      </div>
    </section>

    <script type="text/javascript">
      var loginform = document.getElementById("loginform");
      var regform = document.getElementById("regform");
      var indicator = document.getElementById("indicator");
      function reg() {
        regform.style.transform = "translateX(0px)";
        loginform.style.transform = "translateX(0px)";
        indicator.style.transform = "translateX(100px)";
      }
      function login() {
        regform.style.transform = "translateX(300px)";
        loginform.style.transform = "translateX(300px)";
        indicator.style.transform = "translateX(0px)";
      }
    </script>
    <%- include("components/scripts.ejs") %>
  </body>
</html>
